{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="text-center">

        <h2>{{ contact.title }}</h2>
           
        {{ contact.content | safe }}
    
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Get in touch!</h2>
            <p>I'm excited to hear from you.</p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
        </div>
    </div>
   
 
</div>
{% endblock content %}
